<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link rel="stylesheet" href="/node_modules/citymap-ui/lib/css/select.css" />
  <script src="https://static.soufunimg.com/industry/commonjs/zepto.js"></script>
  <title>my-project</title>
  <script type="text/javascript" src="https://static.soufunimg.com/industry/commonjs/echarts4.0.4/echarts.min.js">
  </script>
  <script type="text/javascript"
    src="//webapi.amap.com/maps?v=1.4.14&key=d6df73856c595bf0fe036c747c7cbbf2&plugin=AMap.Geocoder">
  </script>
  <script src="/static/echarts.min.js"></script>
  <script src="/static/echarts2.js"></script>
</head>

<body>
  <div id="app">
    <!-- <App v-model="streetId" @confirm="confirmB" @cancel="cancelB" :data="data" :dimensions="arrs"></App> -->
    <!-- <test-scrol></test-scrol> -->
    <!-- <test-vuex></test-vuex> -->
    <!-- <loading-page></loading-page> -->
    <!-- <test-canvas></test-canvas> -->
    <!-- <tree-echarts></tree-echarts> -->
    <!-- <test-tree-echart></test-tree-echart> -->
    <!-- <test-canvas1></test-canvas1> -->
    <!-- <cus-form></cus-form> -->
    <!-- <cus-table></cus-table> -->
    <!-- <cus-map></cus-map> -->
    <cus-dimession></cus-dimession>
    <!-- <area-selection 
            v-model="streetId" 
            @confirm="confirmB" 
            @cancel="cancelB" 
			:data="data"
			:dimensions="arrs"
        ></area-selection> -->
  </div>
  <!-- built files will be auto injected -->
</body>

</html>
